.Main {
  &__section {
    @include section;
  }
  &__title {
    @include section-title;
  }
  &__inner {
    @include section-inner;
  }
  &__best {
    &-list {
      @include flex(flex-start, center, 2.4rem);
    }
    &-item {
      flex-basis: 33.3%;
    }
    &-img {
      aspect-ratio: 1/1;
      border: 0.1rem solid $border01;
      border-radius: 1.6rem;
    }
    &-title {
      @include Comfortaa;
      font-weight: 600;
      margin-top: 1.2rem;
      font-size: 1.6rem;
    }
    &-price {
      @include Comfortaa;
      font-size: 1.4rem;
    }
  }
}
