.Main {
  &__section {
    @include section;
  }
  &__title {
    @include section-title;
  }
  &__inner {
    @include section-inner;
  }
  &__new {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4.8rem 2.4rem;

      @media (max-width: $mb-lg) {
        grid-template-columns: 1fr 1fr;
      }
    }
    &-item {
    }
    &-img {
      aspect-ratio: 1/1;
      background: $border01;
      border-radius: 1.6rem;
    }
    &-title {
      @include Comfortaa;
      font-weight: 600;
      margin-top: 1.2rem;
      font-size: 1.6rem;
    }
    &-price {
      @include Comfortaa;
      font-size: 1.4rem;
    }
  }
  &__best {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
    }
    &-img {
      width: 40%;
      aspect-ratio: 1/1;
      background: $border01;
      border-radius: 0.8rem;
    }
    &-item {
      a {
        @include flex(stretch, center, 2.4rem);
      }
    }

    &-title {
      @extend .Main__new-title;
      margin-top: 0;
    }
    &-rank {
      font-weight: 700;
    }
    &-price {
      @extend .Main__new-price;
      margin-top: 0.4rem;
    }
  }
}
