.Main {
  &__section {
    @include section;
  }
  &__title {
    @include section-title;
  }
  &__inner {
    @include section-inner;
    position: relative;
  }
  &__new {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4.8rem 2.4rem;

      @media (max-width: $mb-lg) {
        grid-template-columns: 1fr 1fr;
      }
    }
    &-item {
      min-width: 0;
    }
    &-img {
      aspect-ratio: 1/1;
      background: $border01;
      border-radius: 1.6rem;
    }
    &-title {
      @include Comfortaa;
      font-weight: 600;
      margin-top: 1.2rem;
      font-size: 1.6rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    &-price {
      @include Comfortaa;
      font-size: 1.4rem;
      margin-top: 0.4rem;
    }
  }
  &__best {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;

      @media (max-width: $mb-md) {
        grid-template-columns: 1fr;
      }
    }
    &-img {
      width: 40%;
      aspect-ratio: 1/1;
      background: $border01;
      border-radius: 0.8rem;
      @media (max-width: $mb-md) {
        width: 20%;
      }
    }
    &-item {
      a {
        @include flex(stretch, center, 2.4rem);
      }
    }

    &-title {
      @extend .Main__new-title;
      white-space: initial;
      margin-top: 0;
    }
    &-rank {
      font-weight: 700;
    }
    &-price {
      @extend .Main__new-price;
      margin-top: 0.4rem;
    }
  }
  &__pick {
    &-bg {
      position: absolute;
      width: 100%;
      height: 50%;
      background: $bg01;
      left: 0;
      top: 0;
      z-index: -1;
    }
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4.8rem 2.4rem;
    }
    &-item {
      min-width: 0;
    }
    &-img {
      @extend .Main__new-img;
    }
    &-title {
      @extend .Main__new-title;
    }
    &-price {
      @extend .Main__new-price;
    }
  }
}
