@mixin Comfortaa {
  font-family: 'Comfortaa', 'Pretendard', sans-serif;
}

@mixin Tmoney {
  font-family: 'TmoneyRoundWindExtraBold', 'Pretendard', sans-serif;
}

@mixin Pretendard {
  font-family: 'Pretendard', sans-serif;
}

@mixin Nps {
  font-family: 'NPSfontBold', 'Pretendard', sans-serif;
}

@mixin flex($jc: flex-start, $ai: stretch, $gap: 0, $dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $dir;
}
@mixin max-width-container {
  max-width: $max-width;
  margin: 0 auto;
  @media (max-width: $max-width) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (max-width: $mb-lg) {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

@mixin section {
  //padding: 8rem 0;
}
@mixin section-title {
  @include Comfortaa;
  font-size: 3.2rem;
  margin-bottom: 4.8rem;
  text-align: center;
  @media (max-width: $mb-md) {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
  }
}
@mixin section-inner {
  @include max-width-container;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@mixin button {
  font-size: 1.8rem;
  
}
