// size
$mb-xs: 360px;
$mb-sm: 480px;
$mb-md: 640px;
$mb-lg: 768px;
$pc-xs: 980px;
$pc-sm: 1024px;
$pc-md: 1280px;
$pc-lg: 1440px;
$pc-xl: 1600px;

$max-width: 1080px;

// color
$white: #fff;
$black: #000;
$text01: #666;
$text02: #555;
$text03: #444;
$text04: #333;
$text05: #222;
$text06: #111;

$main: #ff9c44;
$second: #70655b;
$third: #97918b;

$text-b01: #718096;

$border01: #ddd;
