.Footer {
  background: $bg01;
  &__inner {
    @include max-width-container;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  &__logo {
    @include flex(flex-start, center);
    filter: grayscale(1);
  }
}
