.Header {
  $Header: &;
  border-bottom: 0.1rem solid $border01;
  //overflow: hidden;
  width: 100%;
  background: $white;
  position: relative;
  top: 0;
  z-index: 99;
  transform: translateY(0);
  transition: transform 0.3s;

  @media (max-width: $pc-xs) {
    position: fixed;
    top: 0;
    left: 0;
    animation: none;
  }

  &[data-fix='true'] {
    @keyframes headerDown {
      0% {
        top: -15rem;
      }
      100% {
        top: -8rem;
      }
    }
    position: sticky;
    animation: headerDown 0.3s both;
    left: 0;
    z-index: 99;
    @media (max-width: $pc-xs) {
      position: fixed;
      top: 0;
      left: 0;
      animation: none;
    }

    #{$Header}__inner {
      .Logo a {
        transform: translateX(0);
        transition: transform 0.5s 0.3s;
      }
    }
  }

  &__top {
    @include flex(center, stretch);
    width: 100%;
    height: 8rem;
    border-bottom: 0.1rem solid $border01;

    .Logo a {
      height: 100%;
    }
    @media (max-width: $pc-xs) {
      display: none;
    }
  }

  &__inner {
    @include max-width-container;
    @include flex(space-between, center);
    height: 7rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    position: sticky;
    top: 0;
    left: 0;

    .Logo {
      overflow: hidden;
      a {
        transition: transform 0.3s;
        transform: translateX(-100%);

        @media (max-width: $pc-xs) {
          transform: translateX(0);
        }
      }
    }
    @media (max-width: $pc-xs) {
      padding-top: 0;
      padding-bottom: 0;
    }
    @media (max-width: $mb-lg) {
      height: 5rem;
    }
  }

  &__menu {
    &-list {
      @include flex(flex-start, center, 2.4rem);
    }
    &-item {
      a {
        padding: 1.2rem 0.4rem;
        font-size: 1.4rem;
        color: $third;
        transition: color 0.3s;

        &:hover {
          color: $main;
        }
      }
    }

    &-btn {
      display: none;
      background: transparent;
      border: none;
      height: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;
      font-size: 2.4rem;
      color: $second;
      transform: (translateX(50%));
      &--close {
        @extend #{$Header}__menu-btn;
        font-size: 3.2rem;
        height: auto;
        aspect-ratio: none;
        margin-right: 0;
        margin-left: auto;
        transform: none;
      }
      @media (max-width: $pc-xs) {
        display: block;
      }
    }

    @media (max-width: $pc-xs) {
      display: none;
    }
  }

  &__mymenu {
    @include flex(flex-start, center, 1.2rem);

    @media (max-width: $pc-xs) {
      display: none;
    }
  }

  &__mb-menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 9999;
    @media (max-width: $pc-xs) {
      &[data-open='true'] {
        transition: opacity 0.3s;
        visibility: visible;
        opacity: 1;

        #{$Header}__mb-menu-inner {
          transform: translateX(0%);
        }
      }
    }

    &-inner {
      @include flex(space-between, stretch, 0, column);
      position: absolute;
      right: 0;
      top: 0;
      width: 60%;
      background: $white;
      height: 100%;
      min-width: 28rem;
      max-width: 60rem;
      padding: 2.4rem 2.8rem;
      transform: translateX(100%);
      transition: transform 0.3s;
    }

    #{$Header}__menu {
      display: block;
      &-list {
        flex-direction: column;
      }
    }
    #{$Header}__mymenu {
      @include flex(center);
    }
  }
}
