.Category {
  &__list {
    @include flex(space-between, center, 2.4rem);
    @include section-inner;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3.2rem;

    .swiper-pagination {
      position: static;
      margin-top: 3.2rem;
      @media (max-width: $mb-lg) {
        display: none;
      }
    }
    .swiper-pagination-bullet {
      @include Comfortaa;
      width: 4rem;
      height: 4rem;
      border: 0.1rem solid $border01;
      text-align: center;
      line-height: 4rem;
      font-size: 1.4rem;
      color: $third;
      opacity: 1;
      background: transparent;
      transition: color 0.3s, border-color 0.3s;
      margin: 0 0.6rem !important;
    }

    .swiper-pagination-bullet-active {
      color: $main;
      font-weight: 600;
      background: transparent;
      border-color: $main;
    }
  }
  &__item {
    @include flex(stretch, center, 0, column);
    flex: 1 0 0;
    a {
      width: 100%;
    }
    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      color: $text-b01;
      text-align: center;
      margin-top: 0.8rem;
    }
  }
  &__icon {
    @include flex(center, center);
    max-width: 12rem;
    width: 100%;
    aspect-ratio: 1/1;
    background: $border01;
    border-radius: 1.6rem;
    margin: 0 auto;
    font-size: 3.6rem;
    transition: font-size 0.3s;

    &.beige-1 {
      background-color: #fff5e9;
    }
    &.beige-2 {
      background-color: #ead9bb;
    }
    &.yellow-1 {
      background-color: #f6e3ac;
    }
    &.yellow-2 {
      background-color: #f4d091;
    }
    &.brown-1 {
      background-color: #caa1a6;
    }
    &.brown-2 {
      background-color: #c997a1;
    }
    &.blue-1 {
      background-color: #d4e5f7;
    }
    &.blue-2 {
      background-color: #bcdcf5;
    }
    &.blue-3 {
      background-color: #85c9f0;
    }
    &.blue-4 {
      background-color: #5fbfed;
    }
    &.green-1 {
      background-color: #8acbc1;
    }
    &.green-2 {
      background-color: #7cc5ad;
    }
    &.green-3 {
      background-color: #5dae9c;
    }
    &.purple-1 {
      background-color: #d4ddea;
    }
    &.purple-2 {
      background-color: #bdcde3;
    }
    &.purple-3 {
      background-color: #a6b4cf;
    }
    &.purple-4 {
      background-color: #9473a6;
    }
    &.red-1 {
      background-color: #f192b0;
    }
    &.red-2 {
      background-color: #ef7a97;
    }
    &.red-3 {
      background-color: #dd6b91;
    }

    @media (max-width: $pc-xs) {
      max-width: 8rem;
      font-size: 3.2rem;
    }

    @media (max-width: $mb-lg) {
      max-width: 6.4rem;
      font-size: 2.4rem;
    }
  }
}
