.Category {
  &__list {
    @include flex(space-between, center, 2.4rem);
    @include section-inner;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3.2rem;

    .swiper-pagination {
      position: static;
      margin-top: 3.2rem;
      @media (max-width: $mb-lg) {
        display: none;
      }
    }
    .swiper-pagination-bullet {
      @include Comfortaa;
      width: 4rem;
      height: 4rem;
      border: 0.1rem solid $border01;
      text-align: center;
      line-height: 4rem;
      font-size: 1.4rem;
      color: $third;
      opacity: 1;
      background: transparent;
      transition: color 0.3s, border-color 0.3s;
      margin: 0 0.6rem !important;
    }

    .swiper-pagination-bullet-active {
      color: $main;
      font-weight: 600;
      background: transparent;
      border-color: $main;
    }
  }
  &__item {
    @include flex(stretch, center, 0, column);
    flex: 1 0 0;
    a {
      width: 100%;
    }
    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      color: $text-b01;
      text-align: center;
      margin-top: 0.8rem;
    }
  }
  &__icon {
    max-width: 12rem;
    width: 100%;
    aspect-ratio: 1/1;
    background: $border01;
    border-radius: 1.6rem;
    margin: 0 auto;

    @media (max-width: $pc-xs) {
      max-width: 8rem;
    }

    @media (max-width: $mb-lg) {
      max-width: 6.4rem;
    }
  }
}
